/* Name: ZhouyangYifan
   scetion: HW2    */
body {
	background-color: rgb(219,221,208);
}
#banner {
	text-align: center;
	background-image: url("images/rancidbannerbg.png");
	background-repeat: repeat;
	background-size: auto 50px;
	background-position: center 0.4px;
}

h1 {
	text-align: center;
	text-shadow: 3px 3px #999999;
	font-family: Georgia;
	font-size: 24pt;
	font-weight: bold;
}

#chief {
	background-color: #A2B964;
	border-radius: 20px;
	box-shadow: 5px 5px 5px gray;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
#right {
	float: right;
	font-family: Arial;
	font-size: 10pt;
	width: 250px;
}
dt {
	font-weight: bold;
	padding-top: 10pt;
	padding-left: 10pt;
}
dd {
	padding-left: 10pt;
}
ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#left {
    float: left;
	width: 550px;
}
#rate {
	background-image: url("images/rottenlargebg.png");
	background-repeat: repeat-x;
    background-size: auto 83px;
    font-size: 48pt;
    font-weight: bold;
    color: red;
    overflow: hidden;
}
#ratenum {
	vertical-align: top;
}
#left {
	background-color: #EEEEEE;
}
#leftcomment {
	float: left;
	width: 47%;
	margin-left: 1.5%;
	margin-right: 1.5%;
}
#rightcomment {
	float: right;
	width: 47%;
	margin-left: 1.5%;
	margin-right: 1.5%;
}
.comment {
	font-size: 10pt;
	font-family: Georgia;
	background-color: #FFFFFF;
	border: 2px solid #CCCCCC;
	border-radius: 20px;
	padding: 8px;
}
.user {
	margin-bottom: 15pt;
}
.comment, .user {
	font-family: Georgia; 
	font-size: 10pt;
}
#leftcomment img,#rightcomment img {
	float: left;
	margin-right: 5px;
}
#chief > p {
	text-align: center;
	vertical-align: bottom;
	position: static;
	clear: right;
}
#rate img {
	float: left;
}