
div.form_style {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 500px;
  box-shadow: 5px 5px 5px gray;
  /* border-radius: 20px; */
  overflow: hidden;
  background-color: #C4EEFF;
}


/*///// Form /////*/ 

form.form_style {
	padding: 20px;
	font-size: 11pt;
}

form.form_style div {
	text-align: center;
	/*font-size:16px;*/
	font-size: 150%;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

form.form_style label {
    width:110px;
    float:left;
    /*font-size:12px;*/
   	font-size: 120%;
    line-height:24px;
    font-weight:bold;

}

form.form_style > input {
    width:300px;
    margin-bottom:5px;
    line-height:18px;
    padding:5px 10px;
    /* border-radius: 5px; */
    border:1px solid #CCC;
}

.submit {
	text-align: center;
}
